.nav-toggler {
  color: white;
}

.registration-container {
  width: 500px;
  border: 1px solid #008c17;
  border-radius: 10px;
  margin: 5% auto;
}

.login-container {
  width: 500px;
  border: 1px solid #008c17;
  border-radius: 10px;
  margin: 5% auto;
}

.input-form {
  margin: 2%;
}

input[type="text"],
input[type="password"] {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 12px #008c17 !important;
  border: 1px solid #ccc !important;
}

.additional-info {
  margin: 3%;
}

.registration-legend {
  width: 150px;
  margin: 2% auto 5%;
}

.login-legend {
  margin: 2%;
}

.account-type {
  font-family: Roboto;
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin: 2%; */
}

.card {
  width: 250px;
  height: 400px;
  margin: 2%;
}

.card .card-img {
  width: 70%;
  height: 50%;
  margin: 2% auto;
  border-radius: 50%;
}

.welcome-tip {
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 2%;
}

.worker-dashboard {
  width: 90%;
  max-width: 500px;
  margin: 1% auto;
}

.worker-btns {
  display: flex;
  justify-content: space-between;
}

.worker-dashboard-form {
  border: 1px solid #008c17;
  border-radius: 5px;
  padding: 2%;
}

.worker-dashboard button {
  margin: 4% 0 2%;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.tip-amount-text {
  margin: 10% auto;
}

.tip-input-field {
  margin: 10% auto;
}

.register-buttons {
  display: flex;
  justify-content: space-evenly;
}
