.registration-container {
  width: 500px;
  border: 1px solid #63DA00;
  border-radius: 10px;
  margin: 5% auto;
}

.login-container {
  width: 500px;
  border: 1px solid #63DA00;
  border-radius: 10px;
  margin: 5% auto;
}

.input-form {
  margin: 2%;
}

.additional-info {
  margin: 3%;
}

.registration-legend {
  margin: 2%;
}

.login-legend {
  margin: 2%;
}

.account-type {
  font-family: Roboto;
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 2%;
}

.card {
  width: 200px;
  margin: 2%;
  height: 300px;
  margin: 0 auto;
}

.card .card-img {
  width: 70%;
  height: 50%;
  margin: 2% auto;
  border-radius: 50%;
}

.welcome-tip {
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 5%;
}

.worker-dashboard {
  width: 500px;
  margin: 2%;
}

div.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.worker-dashboard-form {
  border: 1px solid #63DA00;
  border-radius: 5px;
  padding: 2%;
}

.worker-dashboard Button {
  margin: 4% 0;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.tip-amount-text {
  margin: 10% auto;
}

.tip-input-field {
  margin: 10% auto;
}

.tip-button {
  margin: 7% auto 0;
}